# When more than one pattern matches the path, a later line overrides an earlier line. This overriding is done per attribute.
*         text=auto eol=lf

# Template from https://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/
# These files are text and should be normalized (convert crlf => lf)
*.cs      text diff=csharp
*.xaml    text
*.csproj  text
*.sln     text
*.tt      text
*.ps1     text
*.cmd     text
*.msbuild text
*.md      text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary

*.sdf     binary