name: Publish to nuget

on:
  push:
    branches: [ publish-to-nuget ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Publish to nuget
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Push with dotnet
      run: dotnet nuget push current-release/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
